<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Free SSB Guide</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/oirtest.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('partials/navbar'); -%>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('partials/sidebar'); -%>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-dark mb-0">OIR TEST</h2><a
                            class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i
                                class="fas fa-download fa-sm text-white-50"></i>&nbsp;Read Intructions</a>

                    </div>
                    <!-- First Box -->
                      <div class="instruction-box shadow">
                        <%- include('partials/oirinstruction'); -%> 
                        <button class="btn btn-danger" id="startQuiz">Start Quiz</button>
                      </div>
 




                    <!-- Second Box-->
                    <!-- Stopwatch -->
                   

                    <!-- Question Box -->
                    <div class="quiz-box shadow">
                        <% let one="" ; 
                        let two = "";
                        let three="";
                        let four="";
                        let five="";
                        let length = totalQues;
                        for(let i=1;i<=20;i++){ one+=`<div class="circle">${i}
                    </div>`
                    }
                    for(let i=1;i<=5;i++){
                        two+=`<div class="circle">${i}
                        </div>`;
                    }
                    for(let i=6;i<=10;i++){
                        three+=`<div class="circle">${i}
                        </div>`;
                    }
                    for(let i=11;i<=15;i++){
                        four+=`<div class="circle">${i}
                        </div>`;
                    }
                    for(let i=16;i<=20;i++){
                        five+=`<div class="circle">${i}
                        </div>`;
                    }
                    %>
                    <div style="font-size:2rem;color:red;font-weight:bolder;" id="timeSection"><i class="fa fa-clock-o" aria-hidden="true" style="color:black;font-size:2rem;"></i> <span id="time">05:00</span> min!</div>
                    <div class="score-section shadow" id="one">
                        <%- one %>
                    </div>
                    <!-- For Mobile -->
                    <div class="score-section shadow two" >
                        <%- two %>
                    </div>
                    <div class="score-section shadow two" >
                        <%- three %>
                    </div>
                    <div class="score-section shadow two" >   
                        <%- four %>
                    </div>
                    <div class="score-section shadow two" style="border:2px solid #5e81cf;">
                        <%- five %>
                    </div>
                    
                    <div class="quiz-section">
                        <h2 id="question">Who Won 2011 World CUP</h2>
                        <!-- To store information for total Questions-->
                        <h2 id="total" style="display:none;"><%= totalQues %></h2>
                        <h2 id="highest" style="display:none;"><%= highscore %></h2>
                        <h2 id="typeOfUser" style="display:none;"><%= firstTime %></h2>

                        <input id="oOne" onchange="hello(value,1)" type="radio" name="options" value=""> <span
                            id="firstOptionText">India</span><br>
                        <input id="oTwo" onchange="hello(value,2)" type="radio" name="options" value=""> <span
                            id="secondOptionText">India</span><br>
                        <input id="oThree" onchange="hello(value,3)" type="radio" name="options" value=""> <span
                            id="thirdOptionText">India</span><br>
                        <input id="oFour" onchange="hello(value,4)" type="radio" name="options" value=""> <span
                            id="fourthOptionText">India</span><br>
                    </div>
                    <button id="previous"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
                    <button id="next"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                    <div class="submit-section">
                        <!-- First Time User -->
                       
                         <button id="submit" class="btn btn-lg btn-danger">Submit</button>
                       
                    </div>
                </div>
                <!-- On Submition Box -->
                <div class="result-section shadow">
                  <div class="heading-section" style="border-bottom:4px solid red;">
                    <h2 style="color:#5e81cf;font-size:2.3rem;">Free SSB Guide</h2>
                   
                  </div>
                  <div class="report-section">
                    <h3 style="text-align:center;font-size:2rem;font-family: cursive;color:red;">OIR TEST</h3>
                    <br>
                    <br>
                    <h2 style="text-align:center;font-size:2.3rem;color:purple;font-family: 'Poppins', sans-serif;">SCORE:</h2>
                    <div class="shadow" id="scoreBox">15</div>
                    <hr />
                    <div class="detailBox shadow">
                      <div class="detailOne">
                      <h2 style="color:black;">Total Questions:<span id="totalQuestion">15</span></h2>
                      <h2 style="color:blue;">Attempted:<span id="attemptedQuestion">10</span></h2>
                      <h2 style="color:green;">Correct:<span id="correctQuestion">8</span></h2>
                      <h2 style="color:red;">Incorrect:<span id="inCorrectQuestion">2</span></h2>
                      </div>
                      <div class="detailTwo">
                          <h2 style="color:purple">Percentage:<span id="percentage">76</span>%</h2>
                          <h2 style="color:purple">Remarks:<span id="remarks">PASS</span></h2>

                      </div>
                   </div>
                   <form action="/oir/saveonefirstoir" id="firstOIR" method="POST">
                    <input type="text" name="email" value="<%= email %>" style="display:none;">
                    <input type="text" name="username" value="<%= username %>" style="display:none;">
                    <input type="text" name="picture" value="<%= picture %>" style="display:none;">
                    <!-- Value to be filled after checking whether new score is greater or less than previous best-->
                    <input type="number" class="highScore" name="highscore" value="" style="display:none;">
                    <input type="number" name="count" value="<%= count %>" style="display:none;">
                    <button type="submit" class="saveProgress btn btn-danger shadow">Save Your Progress</button>
                    </form>
                    <!-- Returning User -->
                    <form action="/oir/saveonereturnoir" id="returnOIR" method="POST">
                    <input type="text" name="email" value="<%= email %>" style="display:none;">
                    <input type="text" name="username" value="<%= username %>" style="display:none;">
                    <input type="text" name="picture" value="<%= picture %>" style="display:none;">
                    <input type="number" class="highScore" name="highscore" value="" style="display:none;">
                    <input type="number" name="count" value="<%= count %>" style="display:none;">
                    <button type="submit" class="saveProgress btn btn-danger shadow">Save Your Progress</button>
                    </form>

                  

                </div>
                    
                </div>


            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/landing.js"></script>
    <script src="/js/oirtestone.js"></script>

</body>

</html>