<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Free SSB Guide</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/oirtest.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('partials/navbar'); -%>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <%- include('partials/sidebar'); -%>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h2 class="text-dark mb-0">PPDT TEST</h2><a
                            class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i
                                class="fas fa-download fa-sm text-white-50"></i>&nbsp;Read Intructions</a>

                    </div>
                    <!-- First Box -->
                    <div class="instruction-box shadow">
                        <div id="rules">
                            <h2
                                style="color:#5e81cf;font-size:2.8rem;text-align:center;font-family:cursive;margin-bottom: 50px;">
                                Instructions</h2>
                            <p>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facere, distinctio porro
                            </p>
                            <p>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quos.</p>
                            <p>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facere, distinctio porro
                            </p>
                            <p>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, quos.</p>
                        </div>
                        <button class="btn btn-danger" id="startQuiz">Start Quiz</button>
                    </div>





                    <!-- Second Box-->
                    <!-- Stopwatch -->


                    <!-- Question Box -->
                    <div class="quiz-box shadow">
                        <div style="font-size:2rem;color:red;font-weight:bolder;" id="timeSection"><i
                                class="fa fa-clock-o" aria-hidden="true" style="color:black;font-size:2rem;"></i> <span
                                id="time">05:00</span> min!</div>
                        <div class="quiz-section">
                            <h2 id="typeOfUser" style="display:none;"><%= firstTime %></h2>
                            <h2 id="highest" style="display:none;"><%= highscore %></h2>
                            <div class="image-box">
                                <img id="test-img" class="shadow" style="display:block;width:80%;margin:30px auto;"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZDsH9snQGWoI-buFC2Lws7aQXwomq0jMOw&usqp=CAU"
                                    alt="test_img">
                            </div>
                            <div class="text-box" style="display:block;width:100%;margin:30px auto;">
                                <!--First Time User Form-->
                                <form action="/ppdt/savetest" id="firstPPDT" method="POST">
                                    <input type="text" name="email" value="<%= email %>" style="display:none;">
                                    <input type="text" name="username" value="<%= username %>" style="display:none;">
                                    <input type="text" name="picture" value="<%= picture %>" style="display:none;">
                                    <!-- Value to be filled after checking whether new score is greater or less than previous best-->
                                    <input type="number" class="highScore" name="highscore" value=""
                                        style="display:none;">
                                    <input type="number" name="count" value="<%= count %>" style="display:none;">
                                    <input id="image-number" type="number" name="imagenumber" value="1"
                                        style="display:none;">
                                    <textarea id="user-answer" name="answer" class="shadow"
                                        placeholder="Enter Your Answer"
                                        style="border:2px solid #5e81cf;padding:10px;display:block;width:90%;margin:50px auto;"
                                        value="" rows=10 cols=100></textarea>
                                    <button type="submit" id="submit" class="btn btn-lg btn-danger mr-5">Submit</button>
                                </form>
                                <!-- Returning user form -->
                                <form action="/ppdt/savereturn" id="returnPPDT" method="POST">
                                    <input type="text" name="email" value="<%= email %>" style="display:none;">
                                    <input type="text" name="username" value="<%= username %>" style="display:none;">
                                    <input type="text" name="picture" value="<%= picture %>" style="display:none;">
                                    <!-- Value to be filled after checking whether new score is greater or less than previous best-->
                                    <input type="number" class="highScore" name="highscore" value=""
                                        style="display:none;">
                                    <input type="number" name="count" value="<%= count %>" style="display:none;">
                                    <input id="image-number" type="number" name="imagenumber" value="1"
                                        style="display:none;">
                                    <textarea id="user-answer" name="answer" class="shadow"
                                        placeholder="Enter Your Answer"
                                        style="border:2px solid #5e81cf;padding:10px;display:block;width:90%;margin:50px auto;"
                                        value="" rows=10 cols=100></textarea>
                                    <button type="submit" id="submit" class="btn btn-lg btn-danger mr-5">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    


                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/js/landing.js"></script>
    <script src="/js/ppdttest.js"></script>

</body>

</html>